<wm-page data-ng-controller="EmployeesProfilePageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="PROFILE" show="true" backbutton="true"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-list listclass="list-group" itemclass="list-group-item" name="ProfileLivelist" dataset="bind:Variables.HrdbSelectedEmployeeID.dataSet"> 
                <wm-listtemplate layout="media" name="listtemplate2"> 
                    <wm-container class="media" name="container5"> 
                        <wm-container class="media-left" name="container6"></wm-container> 
                        <wm-container class="media-body" data-template-ctr="true" name="container7"> 
                            <wm-label width="100%" caption="bind:Variables.HrdbSelectedEmployeeID.dataSet.FIRSTNAME+' '+Variables.HrdbSelectedEmployeeID.dataSet[$i].LASTNAME" name="label6" fontsize="16"></wm-label> 
                            <wm-label width="100%" caption="bind:Variables.HrdbSelectedEmployeeID.dataSet[$i].BIRTHDATE | toDate: 'yyyy, dd MMMM'" name="label7"></wm-label> 
                            <wm-label width="100%" caption="bind:Variables.HrdbSelectedEmployeeID.dataSet[$i].JOBTITLE" name="label5"></wm-label> 
                            <wm-label width="100%" caption="bind:Variables.HrdbSelectedEmployeeID.dataSet[$i].STREET" name="label9"></wm-label> 
                            <wm-label width="100%" caption="bind:Variables.HrdbSelectedEmployeeID.dataSet.CITY+' - '+Variables.HrdbSelectedEmployeeID.dataSet[$i].ZIP" name="label11"></wm-label> 
                        </wm-container> 
                        <wm-container class="media-right media-middle" name="container8"> 
                            <wm-picture class="media-object picture" shape="circle" width="100" name="ProfilePic" picturesource="bind:Variables.HrdbSelectedEmployeeID.dataSet[$i].PICURL"></wm-picture> 
                        </wm-container> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-list> 
            <wm-prefab prefabname="googlemaps" name="googlemaps1" locations="bind:Variables.GoogleapisInvoke.dataSet.results[0].geometry.location" lat="lat" lng="lng"></wm-prefab> 
        </wm-page-content> 
    </wm-content> 
</wm-page>